/*---------------- GLOBAL ----------------*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'cocogooseregular', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #28303b;
}

h5 {
    margin-top: 5px;
    color: #3c4c5b;
}

/*----------------- FONTS ----------------*/

@font-face {
    font-family: 'cocogooseregular';
    src: url('../fonts/cocogoose_trial-webfont.woff2') format('woff2'),
         url('../fonts/cocogoose_trial-webfont.woff') format('woff');
    font-weight: 400;
}

/*---------------- SIDEMENU ---------------*/

#sidemenu {
    width: 20%;
    min-width: 288px;
    height: calc(100% - 50px);
    background-color: #3c4c5b;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 50px;
}

#sidemenu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3c4c5b;
}

#sidemenu::-webkit-scrollbar {
	width: 6px;
	background-color: #3c4c5b;
}

#sidemenu::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(101, 235, 155, .95);
}

#contentWrapper {
    min-width: 288px;
}

#title {
    line-height: 44px;
    color: rgba(101, 235, 155, .95);
    text-align: center;
    display: block;
}

#subtitle {
    line-height: 46px;
    color: hsla(0, 0%, 100%, .83);
    text-align: center;
    display: block;
}

.search {
    margin-top: 7%;
    background-color: #28303b;
    padding: 8% 0;
    min-width: 288px;
    margin-bottom: 5%;
}

.searchWrapper {
    display: block;
    margin: auto;
    padding-left: 5%;
    vertical-align: middle;
}

.resetIcon {
    width: 12px;
    height: 12px;
    margin-left: 2%;
    vertical-align: -webkit-baseline-middle;
    display: none;
}

.searchIcon {
    width: 16px;
    height: 16px;
    margin-right: 2%;
}

::placeholder {
    color:rgba(255, 255, 255, 0.72);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.72);
}

#selectedServices {
    display: none;
}

/*--------------- OPTION MENU --------------*/

#sideOptions {
    height: 100%;
    width: 20%;
    min-width: 288px;
    background-color: #3c4c5b;
    position: absolute;
    left: -50%;
    transition-delay: 0ms;
    transition: all 300ms linear;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sideOptions::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3c4c5b;
}

#sideOptions::-webkit-scrollbar {
	width: 6px;
	background-color: #3c4c5b;
}

#sideOptions::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(101, 235, 155, .95);
}

#sideOptions.active {
    left: 0px;
    z-index: 5;
}

#meters {
    color: rgba(255, 255, 255, 0.72);
    font-weight: 300px;
}

*:before, *:after {
    box-sizing: border-box;
}
  
.range-slider {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
}
  
.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.72);
    outline: none;
    padding: 0;
    margin: 0 0 4% 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #28303b;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    background: rgba(101, 235, 155, 0.95);
  }

  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: rgba(101, 235, 155, 0.95);
  }
  .range-slider__range:active::-moz-range-thumb {
    background: rgba(101, 235, 155, 0.95);
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 15%;
    color: rgba(255, 255, 255, 0.72);
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    background: #28303b;
    padding: 5px 15px;
  }

  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }

  #text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.72);
  }

.show {
    display: block;
    background-color: #28303b;
}

.moreOptions {
    width: 90%;
    margin: auto;
    list-style: none;
}

.optionItem {
    width: 75%;
    margin: auto;
    margin-bottom: 3%;
    background-color: #3c4c5b;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.72);
    border: 3px solid rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    cursor: pointer;
}

.lastItem {
    margin-bottom: 7%;
}

.selected {
    border-color: rgba(101, 235, 155, 0.95);
    color: rgba(101, 235, 155, 0.95);
}

#cancelIcon {
    position: absolute;
    top: 2%;
    right: 5%;
}

#advancedSearch {
    display: block;
    width: 86%;
    height: auto;
    margin-top: 22%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8%;
    padding: 2% 2% 0%;
    border: 4px solid rgba(101, 235, 155, 0.95);
}

#advancedTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: rgba(101, 235, 155, 0.95);
    text-align: center;
}

#advancedService {
    font-family: 'cocogooseregular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    background-color: rgba(101, 235, 155, 0.95);
    color: #3c4c5b;
    margin: 10px 0px;
    padding-top: 2%;
}

.label {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: rgba(101, 235, 155, 0.95);
    text-transform: uppercase;
    margin-bottom: 3%;
}

/*------------- MAP SEARCHBOX -------------*/

#map {
    width: 100%;
    height: 100%;
}

#mapWrapper {
    height: 100%;
    width: 80%;
    max-width: calc(100% - 288px);
    float: right;
    position: relative;
}

#levels {
    display: none;
}

#backIcon {
    display: none;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.pac-container.pac-logo {    
    width: 85% !important;
	position: unset !important;
    top: 60px !important;
    left: 0 !important;
    background-color: #28303b;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 4%;
}

.pac-item {
    border-top: none;
    color: rgba(255, 255, 255, 0.72);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.pac-item:hover {
    background-color: transparent;
}

.pac-item-query {
    color: rgba(101, 235, 155, .95);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.pac-item.pac-item-selected, .pac-item.pac-item-selected:hover {
    background-color: transparent;
}

.pac-container.pac-logo.hdpi::after {
    display: none;
}

.pac-container.pac-logo::after {
    display: none;
}

#pac-input {
    background-color: #28303b;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.72);
    width: 75%;
    position: relative;
    border-style: hidden hidden solid hidden;
  }

  #pac-input-options {
    background-color: #28303b;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.72);
    width: 75%;
    position: relative;
    border-style: hidden hidden solid hidden;
  }

#target {
    width: 345px;
}

#pac-input:focus {
    color: rgba(101, 235, 155, .95);
}

#pac-input-options:focus {
    color: rgba(101, 235, 155, .95);
}

/*------------- MENU CONTENT -------------*/

#services {
    list-style-type: none;
}

.service {
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    border-color: hsla(0, 0%, 100%, .43);
    margin-bottom: 5%;
    margin-left: 4%;
    width: 80%;
    padding: 4% 5% 4% 5%;
}

.serviceElement {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: space-around;
}

.service-icon {
    width: 48px;
    height: 48px;
}

.service-name {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.72);
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 3%;
    width: 90%;
    text-align: center;
    cursor: default;
}

.service-number {
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.72);
    margin: 0 4%;
}

.service-info {
    width: 16px;
    height: 16px;
}

.swipe {
    width: 20px;
    height: 20px;
    display: none;
}

.car {
    width: 20px;
    height: 20px;
    margin-right: 2%;
}

.walker {
    width: 20px;
    height: 20px;
    margin-right: 2%;
}

.autobus {
    width: 20px;
    height: 20px;
}

.routeAlternatives {
    margin-top: 10px;
}

.alert {
    position: absolute;
    bottom: 0;
    background-color: #e74c3c;
    width: 100%;
    color: rgba(255, 255, 255, 0.72);
    height: 8vh;
    display: none;
}

.alertText {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.resetRoute {
    border: 2px solid #3c4c5b;
    border-radius: 4px;
    background-color: #3c4c5b;
    color: white;
    margin-top: 10px;
    padding: 5px;
}

#infoCloseButton {
    width: 37px;
    height: 37px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    z-index: 100000;
}

/*----------- PHONE PORTRAIT -----------*/

@media (min-width: 320px) and (max-width: 767px) {

    #sidemenu {
        width: 100%;
    }

    #sidemenu::-webkit-scrollbar-track {
        display: none;
    }
    
    #sidemenu::-webkit-scrollbar {
        display: none;
    }
    
    #sidemenu::-webkit-scrollbar-thumb {
        display: none;
    }

    #sideOptions {
        width: 100%;
        left: -100%;
    }

    #sideOptions::-webkit-scrollbar-track {
        display: none;
    }
    
    #sideOptions::-webkit-scrollbar {
        display: none;
    }
    
    #sideOptions::-webkit-scrollbar-thumb {
        display: none;
    }

    #showMap {
        display: block;
    }

    #mapWrapper {
        height: 100%;
        width: 100%;
        max-width: 100%;
        float: right;
        position: relative;
        display: none;
    }

    #map {
        width: 100%;
        max-width: 100%;
    }

    #levels {
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 3%;
        right: 3%;
    }

    #backIcon {
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 3%;
        left: 3%;
    }

    .service-info {
        display: none;
    }
    
    .swipe {
        display: block;
    }

    .alert {
        height: 12vh;
    }

    .alertText {
        padding: 4% 5%;
    }

    #selectedServices {
        display: none;
        color: rgba(101, 235, 155, .95);
        border: 3px solid rgba(101, 235, 155, .95);
        width: 76%;
        margin: auto;
        margin-bottom: 5%;
        padding: 4% 5%;
        text-align: center;
    }

    #selectedServices:after {
        content: url(../img/marker.png);
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

    #activeServices {
        font-size: 18px;
        font-weight: 600;
    }
}